In [63]:
import pandas as pd
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.linear_model import LinearRegression

GPT = pd.read_excel('INFS5720-Team Project Data updated.xlsx')
GPT

,Location Name,Year,Occurred_On,Total_Potable_Water,Total_NonPotable_Water,Total_Water,Water_Intensity,Landfill,A_Grade,B_Grade,...,Energy_Intensity,Scope_1_emissions,Scope_2_emissions,Scope_1_Intensity,Scope_2_Intensity,Total_Offsets,Emissions_Avoided,Net_Emission,Total_Avoided_Cost,Covid
0,Logistics1,2022,2022-12-01,231.6667,0.0,231.6667,26.822589,0.000,0.000,0.0,...,0.000000,0.0000,0.157533,0.000000,0.018239,0.0,1200.385467,0.157533,Low,1
1,Logistics1,2021,2021-05-01,0.0000,0.0,0.0000,0.000000,0.000,0.000,0.0,...,0.000000,0.0000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,NaN,1
2,Logistics1,2019,2019-12-01,0.0000,0.0,0.0000,0.000000,1.615,0.000,0.0,...,0.000000,0.0000,0.001276,0.000000,0.000148,0.0,1200.541724,0.001276,NaN,0
3,Logistics1,2018,2018-01-01,0.0000,0.0,0.0000,0.000000,0.000,0.000,0.0,...,15.361318,0.0000,57.960285,0.000000,6.710696,0.0,1142.582715,57.960285,Low,0
4,Logistics1,2021,2021-06-01,0.0000,0.0,0.0000,0.000000,0.000,0.000,0.0,...,6.598726,0.0000,23.428250,0.000000,2.712545,0.0,1177.114750,23.428250,Low,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35862,Retail5,2018,2018-12-01,0.0000,0.0,0.0000,0.000000,0.000,0.000,0.0,...,0.000000,23.8136,0.000000,0.339448,0.000000,0.0,9727.592400,23.813600,NaN,0
35863,Retail5,2020,2020-04-01,0.0000,0.0,0.0000,0.000000,0.000,0.000,0.0,...,0.079519,0.0000,1.151001,0.000000,0.016407,0.0,9750.254999,1.151001,High,1
35864,Retail5,2018,2018-05-01,0.0000,0.0,0.0000,0.000000,0.000,0.000,0.0,...,0.041540,0.0000,0.625488,0.000000,0.008916,0.0,9750.780512,0.625488,High,0
35865,Retail5,2019,2019-08-01,0.0000,0.0,0.0000,0.000000,0.000,0.001,0.0,...,0.000000,0.0000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,NaN,0
35866,Retail5,2019,2019-06-01,4830.5552,0.0,4830.5552,68.856447,0.000,0.000,0.0,...,0.000000,0.0000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,Low,0

In [60]:
import pandas as pd

# Assuming 'GPT' is the DataFrame containing the data
columns_to_check = ['Net_Emission', 'Total_Material_Generated', 'Total_Energy_Use', 'Total_Water']

# Filtering out rows with 0 values in the specified columns
GPT = GPT[(GPT[columns_to_check] != 0).all(axis=1)]

# Reset the index of the DataFrame if needed
GPT.reset_index(drop=True, inplace=True)

In [64]:
print(GPT.columns)
GPT

Index([                  'Location Name',                            'Year',
                           'Occurred_On',             'Total_Potable_Water',
                'Total_NonPotable_Water',                     'Total_Water',
                       'Water_Intensity',                        'Landfill',
                               'A_Grade',                         'B_Grade',
                               'C_Grade',        'Total_Material_Generated',
       'Electricity_Estimated_Unit_Cost',         'Gas_Estimated_Unit_Cost',
                                   'NLA',                                 1,
                'Total_Renewable_Energy',                'Total_Energy_Use',
                      'Energy_Intensity',               'Scope_1_emissions',
                     'Scope_2_emissions',               'Scope_1_Intensity',
                     'Scope_2_Intensity',                   'Total_Offsets',
                     'Emissions_Avoided',                    'Net_Emission',
                    'Total_Avoided_Cost',                           'Covid'],
      dtype='object')

,Location Name,Year,Occurred_On,Total_Potable_Water,Total_NonPotable_Water,Total_Water,Water_Intensity,Landfill,A_Grade,B_Grade,...,Energy_Intensity,Scope_1_emissions,Scope_2_emissions,Scope_1_Intensity,Scope_2_Intensity,Total_Offsets,Emissions_Avoided,Net_Emission,Total_Avoided_Cost,Covid
0,Logistics1,2022,2022-12-01,231.6667,0.0,231.6667,26.822589,0.000,0.000,0.0,...,0.000000,0.0000,0.157533,0.000000,0.018239,0.0,1200.385467,0.157533,Low,1
1,Logistics1,2021,2021-05-01,0.0000,0.0,0.0000,0.000000,0.000,0.000,0.0,...,0.000000,0.0000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,NaN,1
2,Logistics1,2019,2019-12-01,0.0000,0.0,0.0000,0.000000,1.615,0.000,0.0,...,0.000000,0.0000,0.001276,0.000000,0.000148,0.0,1200.541724,0.001276,NaN,0
3,Logistics1,2018,2018-01-01,0.0000,0.0,0.0000,0.000000,0.000,0.000,0.0,...,15.361318,0.0000,57.960285,0.000000,6.710696,0.0,1142.582715,57.960285,Low,0
4,Logistics1,2021,2021-06-01,0.0000,0.0,0.0000,0.000000,0.000,0.000,0.0,...,6.598726,0.0000,23.428250,0.000000,2.712545,0.0,1177.114750,23.428250,Low,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35862,Retail5,2018,2018-12-01,0.0000,0.0,0.0000,0.000000,0.000,0.000,0.0,...,0.000000,23.8136,0.000000,0.339448,0.000000,0.0,9727.592400,23.813600,NaN,0
35863,Retail5,2020,2020-04-01,0.0000,0.0,0.0000,0.000000,0.000,0.000,0.0,...,0.079519,0.0000,1.151001,0.000000,0.016407,0.0,9750.254999,1.151001,High,1
35864,Retail5,2018,2018-05-01,0.0000,0.0,0.0000,0.000000,0.000,0.000,0.0,...,0.041540,0.0000,0.625488,0.000000,0.008916,0.0,9750.780512,0.625488,High,0
35865,Retail5,2019,2019-08-01,0.0000,0.0,0.0000,0.000000,0.000,0.001,0.0,...,0.000000,0.0000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,NaN,0
35866,Retail5,2019,2019-06-01,4830.5552,0.0,4830.5552,68.856447,0.000,0.000,0.0,...,0.000000,0.0000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,Low,0

In [65]:
# Creating the linear models & model testing

#Model = smf.ols(formula = 'Net_Emission ~ Energy_Intensity + Total_Renewable_Energy + Total_NonRenewable_Energy + Total_Offsets', data = GPT).fit()
Model1 = smf.ols(formula = 'Net_Emission ~ Total_Material_Generated + Total_Energy_Use + Total_Water', data = GPT).fit()
#Model2 = smf.ols(formula = 'Emissions_Avoided ~ A_Grade + B_Grade + Landfill', data = GPT).fit()
#Model.summary()
Model1.summary()
#Model2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:           Net_Emission   R-squared:                       0.629
Model:                            OLS   Adj. R-squared:                  0.629
Method:                 Least Squares   F-statistic:                 2.028e+04
Date:                Sat, 29 Jul 2023   Prob (F-statistic):               0.00
Time:                        17:54:08   Log-Likelihood:            -2.2102e+05
No. Observations:               35855   AIC:                         4.420e+05
Df Residuals:                   35851   BIC:                         4.421e+05
Df Model:                           3
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Intercept                   -2.5718      0.647     -3.974      0.000      -3.840      -1.304
Total_Material_Generated     0.0330      0.045      0.731      0.465      -0.056       0.122
Total_Energy_Use             0.4716      0.002    246.268      0.000       0.468       0.475
Total_Water                  0.0010      0.001      1.667      0.095      -0.000       0.002
==============================================================================
Omnibus:                    86467.301   Durbin-Watson:                   2.000
Prob(Omnibus):                  0.000   Jarque-Bera (JB):       3134810532.842
Skew:                          24.564   Prob(JB):                         0.00
Kurtosis:                    1450.726   Cond. No.                     1.09e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.09e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""